// 
// Typography
// 

// Override Bootstrap typography variables

@font-face {
    font-family: "Visby Round CF";
    src: url("../../assets/fonts/visbyroundcf-medium-webfont.woff") format("woff"), url("../../assets/fonts/visbyroundcf-medium-webfont.woff2") format("woff2")
}

$font-family-base: "Visby Round CF",
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji";

$headings-font-family: "Visby Round CF",
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji";

// Custom font family

$alt-font-family: "Visby Round CF",
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji";

// Override default Bootstrap font weights

$font-weight-normal: 500;
$headings-font-weight: 600;
